@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}

body {
    background-color: #23272e;
    height: 100%;
    width: 100%;
}

header h2 {
    font-weight: 400;
    font-size: 1.5rem;
    font-family: 'Roboto Slab', serif;
}

header {
    height: 13vh;
    width: 100%;
    display: flex;
}

header a {
    color: rgb(170, 170, 170);
    background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgb(109, 109, 109) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    transition-duration: 0.3s;
}

header a:hover {
    color: rgba(255, 255, 255, 0.6);
}

#title {
    overflow: hidden;
}

#title h1 {
    color: rgb(120, 203, 241);
    font-weight: 400;
    font-size: 5rem;
    margin-top: -0.7rem;
}

#tekoh {
    color: rgba(200, 227, 238, 0.822);
    z-index: 5;
    position: absolute;
    transform: translate(145%, -90%);
}

#links {
    float: left;
    text-align: left;
    padding: 1rem;
    font-size: 1rem;
    width: 50%;
    margin: 0;
}

#links a {
    display: inline-block;
    vertical-align: top;
    margin-left: 0.5rem;
    font-family: 'Roboto Mono', monospace;
}



.linkIcon {
    fill: rgb(170, 170, 170);
    vertical-align: -0.2rem;
    width: 1rem;
    height: 1rem;
}

.middle {
    flex: 1;
    order: 2;
    text-align: center;
}

.left {
    flex: 1;
    order: 1;
    text-align: right;
}

.right {
    flex: 1;
    order: 3;
    text-align: left;
}

#mode, #stats {
    display: inline-block;
    color: white;
}

#stats {
    margin-right: 1rem;
}

#mode {
    margin-left: 1rem;
}

#stats p {
    font-size: 1rem;
}

#mode a {
    font-size: 1rem;
    font-weight: 300;
    font-family: 'Roboto Mono', monospace;
    transition: 0.5s;
}

.selected, .highlighted {
    color: rgb(120, 203, 241);
}

.number {
    color: rgb(120, 203, 241);
    font-family: 'Roboto Mono', monospace;
}

hr {
    border: 0;
    height: 1px;
    background: #1e2127;
    box-shadow: 0px 0px 1rem black;
    transition: 0.3s
}

#playArea {
    height: 76vh;
    width: 100%;
    background-image: radial-gradient(#21242b 10%, transparent 11%);
    background-size: 40px 40px;
    background-position: 0 0, 80px 80px;
    background-repeat: repeat;
    outline: 5px dotted rgb(120, 203, 241);
    outline-offset: -15px;
    transition: 0.2s;
}

#prompt {
    text-align: center;
    margin-top: 11rem;
    font-size: 3rem;
    font-weight: 300;
    color: rgb(255, 255, 255);
    opacity: 80%;
    transition: 0.3s;
}

footer {
    /* border: 1px solid black; */
    height: 11vh;
    width: 100%;
    display: flex;
}

#clicksContainer, #secondsContainer {
    font-size: 2.5rem;
    margin: 0rem 2rem;
    color: white;
}

#clicksContainer p, #secondsContainer p {
    margin-top: 2rem;
}

#cps {
    font-size: 3rem;
}

#cpsContainer {
    color: white;
    font-size: 1.5rem;
    padding-top: 0.2rem;
}

footer p {
    display: block;
}

#fullscreen {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.185);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    top: 0;
    z-index: 10;
    display: none;
}

.menu {
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.308);
    background-color: #1e2127;
    border-radius: 1rem;
    height: 25rem;
    width: 40rem;
    z-index: 15;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    overflow: hidden;
    color: white;
}

.menu h1 {
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 3rem;
}

.menu hr {
    margin: 1rem;
    background: #23272e;
}

.lowerMenu {
    height: 9rem;
    display: flex;
    padding: 1rem;
}

#results {
    display: none;
}

#innerResults {
    display: flex;
    color: white;
    margin: 2rem 0rem;
    width: 100%;
}

.resultsStat {
    text-align: center;
    font-size: 1.2rem;
    margin: 0rem;
}

.resultsStat .number {
    font-size: 3rem;
}

.resultsStat p {
    display: block;
}

.typicalButton {
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: block;
    color: white;
    font-size: 2rem;
    transition-duration: 0.3s;
    box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0);
}

.typicalButton:hover {
    box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 1)
}

.typicalButton:focus {
    border: 1px solid black;
    box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.1);
    outline: none;
}

.buttonContainer {
    margin: 0rem;
    padding: 1rem;
}

.btn-save {
    background-color: rgb(0, 255, 106, 0.69);
}

.btn-continue {
    background-color: rgb(120, 203, 241, 0.69);
}

#lowerResultsBig {
    height: 9rem;
    display: none;
    padding: 1rem;
    padding-top: 0rem;
}

.big-btn {
    height: 75%;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 3rem;
    background-color: rgb(0, 255, 106, 0.69);
}

#lowerResultsBig p, #lowerResultsBig a {
    color: white;
    text-align: center;
}

#lowerResultsBig a {
    text-decoration: underline;
}

#cookieConsent {
    display: none;
}

#lowerCookies {
    display: flex;
    height: 7rem;
}

.cookieButton {
    font-size: 3rem;
}

.btn-accept {
    background-color: rgb(0, 255, 106, 0.69);
}

.btn-decline {
    background-color: rgba(255, 52, 52, 0.69);
}

#tick {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: rgb(105, 255, 105);
    display: none;
    z-index: 15;
}

particle {
    border-radius: 50%;
    pointer-events: none;
    position: absolute;
}

.fadeIn {
    animation: fullscreenFadeIn 1s;
}

.fadeOut {
    animation: fullscreenFadeOut 1s;
}

.slideIn {
    animation: slideInBottom 0.5s;
}

.slideOut {
    animation: slideOutBottom 1s;
}

.checkMark {
    animation: checkMarkIn 2s;
}

@keyframes checkMarkIn {
    0% {
        transform: translate(-50%, 1000%);
        opacity: 25%;
    }
    25% {
        fill: rgb(68, 255, 68);
    }
    50% {
        transform: translate(-50%, -50%);
        opacity: 100%;
    }
    100% {
        fill: rgb(105, 255, 105);
    }
}

@keyframes fullscreenFadeIn {
    from { opacity: 0%; }
    to { opacity: 100%; }
}

@keyframes fullscreenFadeOut {
    from { opacity: 100%; }
    to { opacity: 0%; }
}

@keyframes slideInBottom {
    from { 
        transform: translate(-50%, 1000%);
        opacity: 25%;
    }
    to {
        transform: translate(-50%, -50%);
        opacity: 100%;
    }
}

@keyframes slideOutBottom {
    from { 
        transform: translate(-50%, -50%);
        opacity: 100%;
    }
    to {
        transform: translate(-50%, 1000%);
        opacity: 25%;
    }
}

@media (max-width: 1120px) {
    #title h1 {
        font-size: 3rem;
    }

    #tekoh {
        transform: translate(50%, -45%);
    }
}

@media (max-height: 900px) {
    #playArea {
        height: 71vh;
    }

    header {
        height: 14vh;
    }

    footer {
        height: 15vh;
    }
}

@media only screen and (min-width: 375px) and (orientation: portrait) {

    header {
        min-height: 3rem;
        height: auto;
    }

    .left {
        margin-left: 0.5rem;
    }

    .right {
        margin-right: 0.5rem;
    }

    #title h1 {
        font-size: 2.1rem;
        margin-top: 0rem;
    }

    #tekoh {
        display: none;
    }

    header h2 {
        font-size: 1.2rem;
    }

    #stats p {
        font-size: 0.8rem;
    }

    #mode a {
        font-size: 0.8rem;
    }

    #playArea {
        height: 60vh;
    }

    #prompt {
        font-size: 2rem;
        margin: 7rem 2rem 0rem 2rem;
    }

    footer {
        height: auto;
    }

    #clicksContainer , #secondsContainer  {
        font-size: 1rem;
    }

    #cps {
        font-size: 1.75rem;
    }

    #cpsContainer {
        font-size: 0.75rem;
        padding-top: 1rem;
    }

    .menu {
        width: 20rem;
    }

    .lowerMenu {
        padding-top: 0rem;
    }

    .resultsStat {
        font-size: 1rem;
    }

    .resultsStat .number {
        font-size: 2rem;
    }

    .lowerMenu {
        height: 10rem;
    }

    .typicalButton {
        font-size: 1.5rem;
        height: 6rem;
    }

    #cookieConsent p {
        font-size: 0.8rem;
    }

}